html,
body {
  height: 100%;
}
body {
  background: #f4f4f4;
}
body,
button,
input,
select,
textarea {
  color: #6a6a6a;
}
a {
  color: #337bb2;
  text-decoration: none;
}
a:visited {
  color: #337bb2;
}
a:hover,
a:focus,
a:active {
  color: #000000;
  text-decoration: none;
}
.top-menu {
  font-size: 13px;
  border-bottom: 1px solid #eee;
}
.top-menu ul {
  margin: 15px 0px 15px 0px;
  padding: 0px;
}
.top-menu ul li {
  list-style: none;
  display: inline-block;
  text-align: left;
  margin: 0px 15px 0px 0px;
  font-weight: 300;
}
.top-menu ul.top-right {
  text-align: right;
}
.top-menu ul.top-right li {
  font-weight: 400;
}
.top-menu ul.top-right li a:link,
.top-menu ul.top-right li a:visited {
  color: #94c766;
}
.top-menu ul.top-right li a:hover {
  color: #000;
}
#masthead {
  background: #fff;
}
#masthead .site-branding {
  padding: 20px 0px 20px 0px;
}
#masthead .site-branding .site-title {
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}
#masthead .site-branding .site-title a:link,
#masthead .site-branding .site-title a:visited {
  color: #222;
}
.main-navigation {
  border-top: 1px solid #eee;
}
.main-navigation a {
  display: block;
  padding: 10px 15px;
}
.main-navigation ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main-navigation ul > li {
  border-right: 1px solid #eee;
}
.main-navigation ul > li:first-child {
  border-left: 1px solid #eee;
}
.main-navigation ul li {
  position: relative;
  float: left;
}
.main-navigation ul li a:link,
.main-navigation ul li a:visited {
  color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-navigation ul li a:hover {
  color: #94c766;
}
.main-navigation ul li:hover > ul {
  left: -1px;
}
.main-navigation ul li.current_page_item a {
  color: #94c766;
}
.main-navigation ul li.current_menu_item a {
  color: #94c766;
}
.main-navigation ul ul {
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
  padding: 0px 0px;
  background: #fff;
  border: none;
}
.main-navigation ul ul a:link,
.main-navigation ul ul a:visited {
  width: 200px;
  padding: 15px 15px;
}
.main-navigation ul ul a:hover {
  color: #94c766;
}
.main-navigation ul ul ul {
  left: -999em;
  margin-top: 0px;
  border: none;
}
.main-navigation ul ul li {
  margin: 0px 0px;
  border: none;
}
.main-navigation ul ul li:first-child {
  border: none;
}
.main-navigation ul ul li:last-child {
  border: none;
}
.main-navigation ul ul li:hover > ul {
  left: 100%;
  top: 0px;
}
.tinynav {
  display: none;
}
.searchbox {
  background: #fff;
  width: 260px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #e4e4e4;
  margin-top: 25px;
  float: right;
}
.searchbox input.search-field {
  margin: 0px 0px 0px 10px;
  background: transparent;
  border: none;
  width: 220px;
  height: 34px;
  padding: 0px 0px;
  line-height: 1;
  font-weight: 300;
  font-size: 14px;
}
.searchbox input.search-submit {
  display: none;
}
#primary,
#secondary {
  margin: 50px 0px;
}
#features-section {
  background: #fff;
  padding: 50px;
}
#features-section .feature-box {
  text-align: center;
}
#features-section .feature-box h2 {
  color: #222;
}
#features-section .feature-box p {
  color: #777;
  font-size: 14px;
}
#featured-books {
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background: #94c766;
  padding: 50px 0px;
}
#featured-books #book-slider {
  padding-bottom: 10px;
  background: url(img/shelf.png) bottom repeat-x;
}
#featured-books #book-slider:before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: -20px;
  background: url(img/shelf-left.png);
}
#featured-books #book-slider:after {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  right: -20px;
  background: url(img/shelf-right.png);
}
#featured-books #book-slider .slidebox {
  padding: 20px 15px;
}
#cta-section {
  background: #222;
}
#cta-section .cta-box {
  padding: 60px 20px;
  text-align: center;
}
#cta-section .cta-box p {
  margin: 0px 0px 30px 0px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
#cta-section .cta-box a {
  display: inline-block;
  padding: 10px 20px;
  background: #94c766;
  color: #fff;
}
.home-section {
  padding: 50px 0px;
}
h2.section-title {
  text-align: center;
  font-weight: 300;
  color: #222;
  margin: 0px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  font-size: 32px;
}
h2.section-title span {
  display: block;
  font-size: 14px;
  color: #888;
  font-weight: 400;
}
.book-box {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 40px;
}
.book-box .fcover-box {
  padding: 20px 20px;
}
.book-box .fcover-box a {
  display: block;
}
.book-box .fcover-box a img {
  display: block;
}
.book-box .book-box-entry {
  padding: 0px 20px 20px 20px;
}
.book-box .book-box-entry h2 {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
.book-box .book-box-entry h2 a:link,
.book-box .book-box-entry h2 a:visited {
  color: #222;
}
.purchase-block span.price-tag {
  font-size: 22px;
  font-weight: 700;
  color: #94c766;
}
.purchase-block .book-specs {
  margin: 10px 0px;
}
.purchase-block .book-specs h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 18px;
}
.purchase-block .book-specs span {
  display: block;
  border-bottom: 1px dotted #eee;
  padding: 5px 0px;
}
.purchase-block .custom-purchase-submit {
  background: #94c766;
  color: #fff;
  padding: 10px 20px;
}
.purchase-block .product-tax {
  margin-bottom: 30px;
}
.purchase-block .product-tax span {
  display: block;
}
.description-title {
  margin: 0px 0px 20px 0px;
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.sub-header {
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background: #94c766;
  padding: 20px 0px;
}
.sub-header h1.page-title,
.sub-header h2.page-title {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.post-box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px 20px;
}
.post-box .fpic-box {
  margin-bottom: 20px;
}
.post-box .post-box-entry h2 {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
.post-box .post-box-entry h2 a:link,
.post-box .post-box-entry h2 a:visited {
  color: #222;
}
.post-box .post-box-entry .post-box-meta {
  font-size: 14px;
  font-weight: 300;
}
.hentry {
  background: #fff;
  padding: 20px 20px;
  border: 1px solid #ddd;
}
.entry-header h1.entry-title,
.entry-header h2.entry-title {
  margin: 0px 0px;
  color: #222;
  font-size: 32px;
  font-weight: 400;
}
.entry-header h1.entry-title a:link,
.entry-header h2.entry-title a:link,
.entry-header h1.entry-title a:visited,
.entry-header h2.entry-title a:visited {
  color: #222;
}
.entry-header .entry-meta {
  font-size: 14px;
  font-weight: 300;
}
.entry-footer {
  font-size: 14px;
  font-weight: 300;
}
.entry-footer span {
  margin-right: 10px;
}
#secondary .widget {
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #ddd;
}
#secondary .widget h2.widget-title {
  margin: 10px 0px 20px 0px;
  padding: 10px 20px;
  font-size: 18px;
  color: #222;
  font-weight: bold;
}
#secondary .widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#secondary .widget ul li {
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0px 20px 10px 20px;
  border-bottom: 1px dotted #ddd;
}
#secondary .widget ul li a:link,
#secondary .widget ul li a:visited {
  color: #6a6a6a;
}
#secondary .widget ul li ul {
  margin: 0px;
  padding: 0px;
}
#secondary .widget ul li ul li {
  margin: 0px;
  padding: 0px 0px;
  border: none;
}
#secondary .widget ul li:last-child {
  border: none;
}
#secondary .squarebanner {
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #ddd;
  padding-bottom: 30px;
}
#secondary .squarebanner h3.sidetitl {
  margin: 10px 0px 20px 0px;
  padding: 10px 20px;
  font-size: 18px;
  color: #222;
  font-weight: bold;
}
#secondary .squarebanner ul {
  margin: 0px;
  padding: 10px 20px;
}
#secondary .squarebanner ul li {
  list-style: none;
  background: #fff;
  float: left;
  margin: 10px 5px 0px 5px;
}
.fabthemes-pagination {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  padding: 0px 10px;
}
.fabthemes-pagination span,
.fabthemes-pagination a {
  padding: 10px 5px;
  display: inline-block;
  color: #aaa;
}
.fabthemes-pagination span {
  color: #000;
}
#footer-widgets {
  background: #2a2b2c;
  padding: 40px 0px 50px 0px;
}
#footer-widgets h2.widget-title {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#footer-widgets .widget {
  margin-bottom: 30px;
}
#footer-widgets .widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer-widgets .widget ul li {
  list-style: none;
  margin: 8px 0px 0px 0px;
  padding: 0px 0px 8px 0px;
  border-bottom: 1px dotted #333;
  color: #777;
}
#footer-widgets .widget ul li a:link,
#footer-widgets .widget ul li a:visited {
  color: #777;
}
#footer-widgets .widget ul li a:hover {
  color: #fff;
}
#footer-widgets .widget ul li ul {
  margin: 0px;
  padding: 0px;
}
#footer-widgets .widget ul li ul li {
  margin: 0px;
  padding: 0px 0px;
  border: none;
}
#comments {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}
#comments h2.comments-title {
  color: #222;
  font-size: 24px;
  padding-bottom: 20px;
}
#comments ol.comment-list {
  list-style: none;
  margin: 0px 0px;
  padding: 0px 0px;
}
#comments ol.comment-list li {
  margin-bottom: 30px;
}
#comments ol.comment-list li ol.children {
  list-style: none;
  margin: 30px 0px 0px 60px;
  padding: 0px 0px;
}
#comments ol.comment-list li .reply a {
  background: #94c766;
  color: #fff;
  padding: 8px 20px;
  display: inline-block;
  font-size: 12px;
}
#comments ol.comment-list li.comment .comment-body {
  border: 1px solid #ddd;
  padding: 20px;
}
#comments ol.comment-list li.comment .comment-body .comment-meta {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#comments ol.comment-list li.comment .comment-body .comment-meta .comment-metadata {
  font-size: 12px;
}
#comments #respond {
  border: 1px solid #ddd;
  padding: 20px 20px;
}
#comments #respond h3#reply-title {
  margin: 0px;
}
#comments #respond #commentform p {
  margin-bottom: 10px;
}
#comments #respond #commentform p label {
  font-size: 12px;
  display: block;
}
#comments #respond #commentform input#submit {
  background: #94c766;
  padding: 8px 20px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
}
.site-footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 50px 0px;
  color: #777;
}
.site-footer .site-info a {
  color: #777;
}
